{
  "presets": [
    ["env", {
      "targets": {
        "node": [">= 4.3.2"]
      }
    }],
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "util": "./util"
      }
    }]
  ]
}
