{
  "presets": [
    "es2015", "stage-0"
  ],
  "plugins": [
    ["transform-runtime", {"polyfill": false, "regenerator": true}],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "util": "./util"
      }
    }],
    ["dynamic-import-node"]
  ]
}
